<div style="display:flex;align-items:center">
    <h1 class="h2">Menu</h1>
    <p style="margin-left:20px;cursor:pointer;padding:0 12px;color:orangered" onclick="reset('<%=MenuCategory.ids%>');displayItems('')" class="h2"> + </p>
</div>

<table class="table table-borderless " style="width:100%;margin-top:5%;margin-left:5%">
  <thead class="thead-light">
    <tr >
      <th scope="col" style="width:200px">Category name</th>
      <th scope="col" style="width:200px" >Actions</th>
    </tr>
  </thead>
  <tbody>
      <%= form_with url:menu_categories_path, method: :post do |form| %>
        <tr id="display" style="display:none">
            <td><%= form.text_field :name, class: "form-control",placeholder: "Menu category" %></td>
            <td><%= form.submit "Create",style:"margin-left:20px;padding:0 12px",class:"btn btn-success" %></td>
        </tr>
      <% end %>
      <% MenuCategory.order("name").all.each do |category|%>
          <tr id="<%=category.id%>">
            <td><%= category.name %></td>
            <td style="display:flex;align-items:center;justify-content:space-around;">
              <span onclick="reset('<%=MenuCategory.ids%>');displayEdit('<%=category.id%>')" style="cursor:pointer;padding:0 12px;" class="btn btn-dark"> Edit </span>
              <%= form_with(url: "/menu_categories/#{category.id}",style:"margin-left:10px;", method: "DELETE") do %>
                <%= image_submit_tag("delete.png",style:"width:20px",:onclick=>"this.form.submit()") %>
              <% end %>
              <%= link_to category.status,menu_category_path(id:category.id,status:category.status),class:"btn btn-danger",style:"margin-left:10px;padding:0 10px;", method: :put%>
            </td>
          </tr>
        <%= form_with url:"/menu_categories/#{category.id}", method: :put do |form| %>
           <tr id="displayEdit<%=category.id%>" style="display:none">
             <td><%= form.text_field :name, class: "form-control",placeholder: category.name%></td>
             <td><%= form.submit "Change",style:"margin-left:20px;padding:0 12px",class:"btn btn-success" %></td>
           </tr>
        <% end %>

      <% end %>
  </tbody>
</table>
