<div style="display:flex;">
    <h1>Menu</h1>
    <p style="margin-left:50px;width:50px" onclick="reset('<%=MenuCategory.ids%>');displayItems('')"> + </p>
</div>

<table class="table table-bordered " style="width:100%;">
  <thead class="thead-light">
    <tr>
      <th scope="col">Category name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <%= form_with url:menu_categories_path, method: :post do |form| %>
        <tr id="display" style="display:none">
            <td><%= form.text_field :name, class: "formInput",placeholder: "Menu category" %></td>
            <td><%= form.submit "Create" %></td>
        </tr>
      <% end %>
      <% MenuCategory.order("name").all.each do |category|%>
        <div>
          <tr id="<%=category.id%>">
            <td><%= category.name %></td>
            <td style="display:flex;align-items:center;justify-content:space-between;width:150px">
              <span onclick="reset('<%=MenuCategory.ids%>');displayEdit('<%=category.id%>')" style="cursor:pointer"> Edit </span>
              <%= form_with(url: "/menu_categories/#{category.id}",style:"margin-left:10px;", method: "DELETE") do %>
                <%= image_submit_tag("delete.png",style:"width:20px",:onclick=>"this.form.submit()") %>
              <% end %>
              <%= link_to category.status,menu_category_path(id:category.id,status:category.status),class:"btn btn-danger",style:"margin-left:10px;padding:0 10px;", method: :put%>
            </td>
          </tr>
        </div>
        <%= form_with url:"/menu_categories/#{category.id}", method: :put do |form| %>
           <tr id="displayEdit<%=category.id%>" style="display:none">
             <td><%= form.text_field :name, class: "formInput",placeholder: category.name%></td>
             <td><%= form.submit "edit" %></td>
           </tr>
        <% end %>

      <% end %>
  </tbody>
</table>
