<%MenuCategory.where(id:category_id).all.each do |category|%>
    <div style="display:flex;align-items:center">
      <h1 class="h2"><%= category.name %></h1>
      <p class="h2" style="margin-left:20px;max-width:fit-content;cursor:pointer;color:orangered" onclick="reset('<%=category.menu_items.ids%>');displayItems('')"> + </p>
    </div>
    <div>
      <table class="table table-borderless" style="width:100%;margin-top:3%;margin-left:3%">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width:200px">Item name</th>
            <th scope="col" style="width:200px">Description</th>
            <th scope="col" style="width:200px">Price</th>
            <th scope="col" style="width:200px">Actions</th>
          </tr>
        </thead>
        <tbody>
            <%= form_with url:menu_items_path, method: :post do |form| %>
              <tr id="display" style="display:none">
                  <td><%= form.text_field :name, class: "form-control",placeholder: "Food Name"  %></td>
                  <%= hidden_field_tag(:menu_category_id,category.id, class: "formInut")%>
                  <td><%= form.text_field :description, class: "form-control",placeholder: "Description"  %></td>
                  <td><%= form.number_field :price,class: "form-control",placeholder: "Price",:step => "0.01"%></td>
                  <td><%= form.submit "Add",style:"margin-left:30px;padding:0 12px",class:"btn btn-success" %></td>
              </tr>
            <% end %>

            <% if !category.menu_items.nil? %>
              <% category.menu_items.all.each do |item|%>
                <div>
                  <tr id="<%=item.id%>">
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.price %>₹</td>
                    <td style="display:flex;justify-content:space-around;align-items:center">
                       <span onclick="reset('<%=category.menu_items.ids%>');displayEdit('<%=item.id%>')" style="cursor:pointer;height:30px;padding:2px 20px" class="btn btn-dark"> Edit </span>
                        <%= form_with(url: "//menu_items/#{item.id}",style:"margin-left:10px;", method: "DELETE") do %>
                          <%= image_submit_tag("delete.png",style:"width:20px",:onclick=>"this.form.submit()") %>
                        <% end %>
                    </td>
                  </tr>
                  <%= form_with url:"/menu_items/#{item.id}", method: :put do |form| %>
                    <tr id="displayEdit<%=item.id%>" style="display:none">
                      <td><%= form.text_field :name, class: "form-control",placeholder: item.name%></td>
                      <%= hidden_field_tag(:menu_category_id,category.id, class: "formInut")%>
                      <td><%= form.text_field :description, class: "form-control",placeholder: item.description  %></td>
                      <td><%= form.number_field :price,class: "form-control",placeholder: item.price, :step => "0.01"%></td>
                      <td><%= form.submit "Change",style:"margin-left:20px;padding:0 12px",class:"btn btn-success"%></td>
                    </tr>
                  <% end %>
                </div>
              <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
<% end %>
