<h1>Menu</h1>   <%= @current_user.name %>
<article class="MenuPage" style="display:flex;justify-content:space-between;">
   <section class="menu" style="width:400px">
      <% MenuCategory.all.each do |category| %>
        <% category.menu_items.all.each do |item|%>
          <div class="menuItem" style="display:flex;justify-content:space-between;align-items:center;border:1px solid black;">
             <div class="ItemDetails">
                <p class="MenuItemName"><%= item.name%></p>
                <p  class="MenuItemDescription"><%= item.description %></p>
                <p  class="MenuItemPrice">₹<%= item.price %></p>
             </div>
             <div class="Add">
                 <% if cartItem_ids and cartItem_ids.include? item.id  %>
                    <div class="AddAndReduceItem">
                       <%= link_to "-", update_cart_items_path(:item_id => item.id,:quantity => "decrease"), method: :put %>Add
                       <%= link_to "+", update_cart_items_path(:item_id => item.id,:quantity =>"increase"), method: :put %>
                    </div>
                 <% else %>
                    <%= link_to "Add", carts_path(:item_id => item.id), method: :post %>
                 <% end %>
             </div>
          </div>
       <% end %>
      <% end %>
   </section>
   <section class="cart" style="border:1px solid black;max-height:500px;width:400px;">
      <h1>Cart</h1>
      <% if cartItems.present? %>
         <div class="cartscroll" style="height:150px;overflow-x: hidden;overflow-y: auto;text-align:justify;">
            <div>
               <% cartItems.all.each do |items| %>
                  <%= items.menu_item_name%> | <%=items.quantity %>| ₹<%= items.menu_item_price %><br/>
               <% end %>
            </div>
         </div>
         <p>Total amount : ₹<%= total_amount%></p>
         <%= link_to "Checkout",orders_path(:cart_id => Cart.find_by(user_id: @current_user.id).id),method: :get%>
      <% end %>
   </section>
</article>
