<div style="display:flex;align-items:center;">
  <span class="h3" ><%= role.capitalize %>s</span>
  <%= link_to "Add  #{role.capitalize}",add_employees_path(role:role),class:"btn btn-dark",style:"margin-left:50px;padding:3px 12px",method: :get %>
</div>
<table class="table table-borderless" style="width:100%;margin-top:2%;">
  <thead class="thead-light">
    <tr>
      <th scope="col">Employee Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone_no</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% User.where(role:role).all.each do |user|%>
         <div>
           <tr>
             <td><%= user.name %></td>
             <td><%= user.address %></td>
             <td><%= user.phone_no %></td>
             <td><%= user.email %></td>
             <td>
                <%= link_to "Edit", edit_employees_path(user_id:user.id) %>
                <%= link_to "Delete","/users/#{user.id}",method: :delete %>
             </td>
            </tr>
          </div>
      <% end %>
  </tbody>
</table>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
