<article style="display:flex;height:100%">
   <section  class="sticky-top" style="background:orangered;">
      <div style="width:200px">
        <div>
          <%= link_to "All orders", orders_path(:status=>"all"),class:"list-group-item OrderDetail",method: :get %>
          <%= link_to "Pending orders", orders_path(:status=>"pending"),class:"list-group-item  OrderDetail",method: :get %>
          <%= link_to "delivered orders", orders_path(:status=>"delivered"),class:"list-group-item  OrderDetail",method: :get %>
        </div>
      </div>
   </section>

   <section class="scrollbar">
     <% Invoice.all.group_by {|invoice| invoice.created_at.strftime("%m")}.keys.each do |month|%>
      <div style="display:flex;justify-content:space-between;align-items:center;margin-top:4%">
         <h1 class="h2" style="margin:5% 5%"><%=Date::MONTHNAMES[month.to_i]%></h1>
         <% if @current_user.role == "owner" %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Add date range</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <%= form_with url:orders_path,method: :get do %>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Date range</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                          <%= label_tag :start,"Start : ",class:"col-form-label" %>
                          <%= date_field_tag :start, class:"form-control"%>
                        </div>
                        <div class="form-group">
                          <%= label_tag :end,"End : ",class:"col-form-label" %>
                          <%= date_field_tag :end, class:"form-control"%>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <%= submit_tag "search",class:"btn btn-dark" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% if starting!= nil and ending!=nil %>
          <% range = Invoice.all_invoices(@current_user.id).where("created_at::date >= ? and created_at::date <= ? ",starting,ending)%>
      <% else %>
          <% range = Invoice.all_invoices(@current_user.id).where('extract(month from created_at) = ?',month)%>
      <% end %>
     <% range.status_wise(status).all.each do |bill|%>
         <%= link_to orders_path(invoice: bill.id),class:"OrderInvoice" do%>
          <div class="card invoice">
              <div class="card-header" style="display:flex;justify-content:space-around">
                <p>Invoice : <%= bill.id %></p>
                <p>Date : <%= bill.created_at.strftime("%d/%m/%Y") %></p>
                <p>Order No : <%= bill.order_id %></p>
              </div>
              <div class="card-body">
                  <table class="table">
                  <thead>
                     <tr>
                     <th scope="col">Customer name</th>
                     <th scope="col">Order amount</th>
                     <th scope="col">order status</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <%= bill.user.name%></td>
                      <td>₹<%= bill.total_amount%></td>
                      <% if Invoice.pending_order(@current_user.id,bill.delivery_status)%>
                        <td><%= link_to bill.delivery_status, update_invoices_path(order_id:bill.order.id),class:"btn btn-outline-danger",style:"padding:0 10px;",method: :put%></td>
                      <% else %>
                           <td><button class="btn btn-outline-danger"style="padding:0 10px;"  disabled><%= bill.delivery_status%></button></td>
                      <% end %>
                     </tr>
                  </tbody>
                  </table>
              </div>
              </div>
          <% end %>
      <% end %>
    <% end %>
   </section>

   <section class="sticky-top shadow p-4 mb-2  bg-white mx-auto" style="height:500px">
         <div style="width: 400px;">
            <div class="mx-auto">
                 <%= render partial: "invoice_detail",locals:{invoice_id:invoice_id} %>
            </div>
   </section>

</article>
